/* GENERAL */

:root {
  --header-height: 100px;
  --player-height: 100px;
  --sidebar-width: 300px;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* TOP CONTENT */

.top-content {
  display: flex;

  height: calc(100vh - var(--player-height));
  background-color: rgb(20, 20, 20);
}
/* CONTENT */

.content {
  width: calc(100% - var(--sidebar-width));
  overflow: auto;

  background-color: #141922;
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: var(--header-height);
  width: 100%;
  background-color: #0f131d;
  opacity: 0.9;

  width: calc(100% - var(--sidebar-width));

  z-index: 1;
}

.upgrade-button {
  height: 40px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  background-color: #0f131d;
  padding: 0 50px;
  font-weight: bold;
  position: relative;
  right: 20px;
}

.upgrade-button:hover {
  cursor: pointer;
  width: 300px;
  height: 55px;
}

/* MAIN */

main {
  height: 100%;
  padding-top: var(--header-height);
}

/* RESPONSIVE */

@media screen and (min-width: 481px) and (max-width: 600px) {
  
  :root {
    --sidebar-width: 200px;
  }

  .grid {
    justify-content: center;
  }

  .upgrade-button {
    padding: 3px 5px;
    font-size: 14px;
  }
  .upgrade-button:hover {
    width: 180px;
    height: 55px;
  }
}

@media screen and (max-width: 480px) { 
 
  :root {
    --sidebar-width: 50px;
    --header-height: 0px;
  }

  header {
    display: none;
  }

  .sidebar {
  
    align-items: center;
  }

  .content {
    width: calc(100% - var(--sidebar-width));
    overflow: auto;
  
    background-color: #141922;
  }

  .upgrade-button {
    padding: 3px 5px;
    font-size: 14px;
  }

  .upgrade-button:hover {
    width: 180px;
    height: 55px;
  }

  .grid {
    justify-content: center;
  }
}